.seletcedUser{
    padding: 20px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selected {
    color: #12809f;
}